:root {
  --nrj-primary: #0045a1;
  --nrj-primary-hover: #757b81;
  --nrj-accent: #757b81;
  --nrj-dark: #0f172a;
  --nrj-border: #e2e8f0;
  --nrj-text: #1e293b;
  --nrj-muted: #64748b;
  --nrj-bg-light: #f8fafc;
  --desp-pera: #475569;
  --white: #ffffff;
  --heading-clr: #1a1a1a;
  --border2:#d9d9d9;
  --fs40:40px;
}

body {
  margin: 0;
  font-family: Jost, sans-serif;
  color: var(--nrj-text);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.ptb {
  padding-bottom: 60px;
  padding-top: 60px;
}

.container {
  max-width: 100% !important;
  width: 90% !important;
  margin: 0 auto;
  padding: 0 20px;
}